.input-field{
    margin-top: 15px;
    margin-bottom: 15px;
}

input[type="text"]{
    padding: 5px;
    min-width: 255px;
    outline: none;
    border-radius: 7.5px;
    border: 1.5px gray solid;
}

input[type="text"]:hover, input[type="text"]:focus{
    border-color: #007bff;
    
}

[required-caption]::after{
    content: " (Required)";
    color: red;
}

[optional-caption]::after{
    content: " (Optional)";
    color: #007bff;
}

.cred{
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.bullet::before{
    content: '• '
}
